<div *ngIf="!filesInfoWithComments || filesInfoWithComments.length === 0" class="text-center p-3">
    <span class="text-danger">Загруженных файлов нет</span>
</div>
<div *ngIf="filesInfoWithComments && filesInfoWithComments.length >= 1" class="list-group list-group-numbered list-group-flush ms-3">
    <a *ngFor="let fileInfo of filesInfoWithComments" href="{{webServerHost}}/getFile/:{{fileInfo.name}}" class="list-group-item list-group-item-action list-group-item-info p-2">
        {{fileInfo.name}} - "{{fileInfo.comment}}"
    </a>
</div>