<!DOCTYPE html>
<head>
    <script src="../scripts.js"></script>
</head>
<body>
    <div id="variantButtonsContainer"></div>
    <div id="statContainer"></div>
    <div id="downloadStatContainer">
        <button id="downloadXMLButton">Скачать XML</button>
        <button id="downloadHTMLButton">Скачать HTML</button>
        <button id="downloadJSONButton">Скачать JSON</button>
    </div>
</body>
</html>